*.iml
.gradle
/local.properties
.idea/*
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
*.dex

# Java class files
*.class
bin/
gen/
out/
.gradle/
